@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root{
    --purple-1: #6C63FF;
    --purple-2: #6b63ff8e;
    --dark-red: #871034;
    --gray: #28272e;
    --dark-gray: #2c2c31;
    --white: #f2f2f0;
}

/* cadastro */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root{
    --purple-1: #6C63FF;
    --purple-2: #6b63ff8e;
    --dark-red: #871034;
    --gray: #28272e;
    --dark-gray: #2c2c31;
    --white: #f2f2f0;
}


/* Register */

.register{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: var(--purple-2);
}

.register .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 6px;
    width: 1100px;
    height: 800px;
}

.register  h1{
    margin-bottom: 50px;
}

.register h1::after{
    content: '';
    display: block;
    width: 60px;
    height: 6px;
    border-radius: 4px;
    background-color: var(--purple-1);
}

.register .image{
    display: flex;
    align-items: center;
    padding: 0px 40px;
    height: 100%;
    background-color: var(--purple-1);
}

.register .image img{
    width: 450px;
}

.register .form{
    padding: 0px 60px;
}

.register .form label{
    margin-bottom: 5px;
    color: var(--gray);
}
.register .form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    padding: 30px 50px;
}

.register .form form a{
    font-size: 20px;
    color: var(--purple-1);
}

.register .form form input{
    margin-bottom: 20px;
    border: 1px solid var(--purple-1);
    background: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.register .form form select{
    margin-bottom: 20px;
    border: 1px solid var(--purple-1);
    background: none;
    border-radius: 4px;
    padding: 5px 12px;
}

.register .form .providing_ride{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    width: 100%;
    background-color: var(--purple-2);
    padding: 10px 20px;
    
    margin-bottom: 30px;
}

.register .form .providing_ride input{
    margin: 0 !important;
}

.register .form form input[type="submit"]{
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 40px;

    background: var(--purple-1);
    outline: none;
    border: none;
    border-radius: 4px;
    color: var(--white);
}

.register .line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.register .line .first-item, .second-item, .third-item{
    display: flex;
    flex-direction: column;
}
@media (max-width:1185px) {
    .register .container .image{
        display: none;

    }
    .register .container {
        width: 600px;
    }
    
}
